
body {
  	padding-left: 11em;
  	font-family: Georgia, "Times New Roman",
          Times, serif;
    	
    	background-color: #d8da3d; }
   
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
          
    color: red;
    }
    
div {
	margin: 30px;
	padding: 20px;
	border: black solid 1px;
	
	}
    
p {hyphens: auto;}

.pro-form {
  width: 350px;
  border-radius: 20px;
  @include background(linear-gradient(#268ad0, #59c1d4));
  padding: 2px 20px 20px 20px;
  .field {
    margin: 0 0 10px 0;
    input[type=email], input[type=url] {
      width: 100%;
    }
  }
}

.actions {
  margin-top: 25px;
  .button {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    font-size: 120%;
  }
}


.button {
  float: left;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #111;
  color: white;
  font-size: 16px;
  
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &.active {
    background: black;
  }
  a {
    color: white;
  }
}

.progress-wrap {
  text-align: center;
  font-size: 10px;
  color: white;
  margin: 0 0 20px 0;
  progress {
    width: 100%;
    margin: 0 0 5px 0;
  }
}

