
body {
	height: 100%;
  	padding-left: 11em;
  	font-family: Georgia, "Times New Roman",
          Times, serif;
    	
	    background-color: #d8da3d; }
	    
	      /* Always set the map height explicitly to define the size of the div
			   * element that contains the map. */
#map {
height: 100%;


}
/* Optional: Makes the sample page fill the window. */
			  
   
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
          
    color: red;
    }

div {
	margin: 30px;
	padding: 20px;
	
	
	}
	

    
p {hyphens: auto;}

